In [1]:
data = { 
    1001 : { 'name' : 'ram', 'balance' : 15000, 'password' : 'redhat@123'}, 
    1002 : { 'name' : 'shyam', 'balance' : 25000, 'password' : '123455' },
    1003 : { 'name' : 'hari',' balance' : 35000, 'password' : 'Asimov'},
        }
last_key = 1003

In [9]:
data = {}

In [10]:
IFSC = 1000
last_key = 1000

In [21]:
from getpass import getpass
from pprint import pprint

def update():
    global last_key,data
    name = input("Enter your name : ")
    bal = eval(input("Enter your balance : "))
    password = getpass("Enter your Password : ")
    acc_no = last_key + 1
    last_key = last_key + 1

    data[last_key] = { 'name':name,'balance':bal,'password':password }
    print("your Account Sucessfully Created")
def show():
    pprint(data)

In [19]:
show()

{1001: {'balance': 10000, 'name': 'sachin', 'password': 'redhat'},
 1002: {'balance': 15000, 'name': 'ram', 'password': 'india'},
 1003: {'balance': 34321, 'name': 'hari', 'password': 'asldkjf'}}

In [20]:
update()

Enter your name : sachin
Enter your balance : 384783423
Enter your Password : ········

In [22]:
show()

{1001: {'balance': 10000, 'name': 'sachin', 'password': 'redhat'},
 1002: {'balance': 15000, 'name': 'ram', 'password': 'india'},
 1003: {'balance': 34321, 'name': 'hari', 'password': 'asldkjf'},
 1004: {'balance': 384783423, 'name': 'sachin', 'password': 'lskdjf'}}

In [23]:
def login():
    acc_no = int(input("Enter your Account Number : "))
    print("Here is Your Data")
    d = data.get(acc_no,"No such user Exists")
    
    print(d)

In [26]:
login()

Enter your Account Number : 1001
Here is Your Data
{'name': 'sachin', 'balance': 10000, 'password': 'redhat'}

In [30]:
s = { 1,2,3,34,2,32,3,2423,'hello','hi',(1,23),[1,2,3] }

TypeError: unhashable type: 'list'

In [31]:
s = { 1,1,1,1,1,1,1,12,2,2,2,2,2,2,22,2,3,3,3,3,33,3,3,31,23,}

In [32]:
print(s)

{1, 2, 3, 33, 12, 22, 23, 31}

In [34]:
print(type(s))

<class 'set'>

In [36]:
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [37]:
s1 = { 1,2,3,4,5}
s2 = { 4,5,6,7,8,9}

In [38]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
s1.intersection(s2)

{4, 5}

In [40]:
s1.difference(s2)

{1, 2, 3}

In [41]:
s1.isdisjoint(s2)

False

In [42]:
s3 =  {'hello','hi','bye'}
s1.isdisjoint(s3)

True

In [44]:
s1.issubset(s2.union(s1))

True

In [45]:
s1.issuperset(s2)

False

In [47]:
print(s1)
print(s2)
s1.symmetric_difference(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 6, 7, 8, 9}

In [48]:
s1.symmetric_difference_update(s2)

In [49]:
s1

{1, 2, 3, 6, 7, 8, 9}

In [51]:
s1.add('hello')

In [52]:
s1

{1, 2, 3, 6, 7, 8, 9, 'hello'}

In [53]:
s1.discard(1)

In [54]:
s1

{2, 3, 6, 7, 8, 9, 'hello'}

In [59]:
from random import randint 
l = []
for var in range(20) : 
    l.append(randint(1,10))
l

[2, 4, 10, 6, 6, 9, 1, 9, 9, 7, 7, 1, 9, 9, 4, 3, 6, 4, 2, 1]

In [61]:
l = [ randint(1,10) for var in range(25) ]
print(l)
#list compresion

[3, 3, 4, 1, 6, 5, 7, 7, 1, 2, 1, 4, 5, 4, 2, 7, 9, 4, 3, 3, 10, 4, 2, 5, 3]

In [62]:
print(l)

[3, 3, 4, 1, 6, 5, 7, 7, 1, 2, 1, 4, 5, 4, 2, 7, 9, 4, 3, 3, 10, 4, 2, 5, 3]

In [64]:
s = set(l)
print(s)
l1 = list(s)

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [65]:
l1

[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [66]:
s = frozenset('python')

In [67]:
s

frozenset({'h', 'n', 'o', 'p', 't', 'y'})

In [68]:
print(type(s))

<class 'frozenset'>

In [69]:
print(dir(s))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

In [70]:
s = int('123213414124124142')

In [71]:
s

123213414124124142

In [73]:
s = int('0101010101001010101',2)
print(s)

174677

In [75]:
s = int('abcdef',16)
print(s)

11259375

In [78]:
s = '1234'
o = int(s,8)
print(o)

668

In [80]:
s = bin(65)
print(s)
print(type(s))

0b1000001
<class 'str'>

In [82]:
k = hex(1234)
print(k)
s = int(k,16)
s

0x4d2

1234

In [83]:
oct(1234)

'0o2322'

In [91]:
ord('झ')

2333

In [89]:


chr(83)

'S'

In [90]:
chr(2333)

'झ'

In [94]:
s = str(data)

In [95]:
type(s)

str

In [98]:
s

"{1001: {'name': 'sachin', 'balance': 10000, 'password': 'redhat'}, 1002: {'name': 'ram', 'balance': 15000, 'password': 'india'}, 1003: {'name': 'hari', 'balance': 34321, 'password': 'asldkjf'}, 1004: {'name': 'sachin', 'balance': 384783423, 'password': 'lskdjf'}}"

In [103]:
s1 = s[1:-1].split(':')

In [104]:
s1

['1001',
 " {'name'",
 " 'sachin', 'balance'",
 " 10000, 'password'",
 " 'redhat'}, 1002",
 " {'name'",
 " 'ram', 'balance'",
 " 15000, 'password'",
 " 'india'}, 1003",
 " {'name'",
 " 'hari', 'balance'",
 " 34321, 'password'",
 " 'asldkjf'}, 1004",
 " {'name'",
 " 'sachin', 'balance'",
 " 384783423, 'password'",
 " 'lskdjf'}"]

In [107]:
s1 = s.replace('{',' ')
s1 = s.replace('}',' ')
s1 = s.replace(',',' ')

In [109]:
s1

"{1001: {'name': 'sachin'  'balance': 10000  'password': 'redhat'}  1002: {'name': 'ram'  'balance': 15000  'password': 'india'}  1003: {'name': 'hari'  'balance': 34321  'password': 'asldkjf'}  1004: {'name': 'sachin'  'balance': 384783423  'password': 'lskdjf'}}"

In [110]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [114]:
list([1,23,4,['hello'],])

[1, 23, 4, ['hello']]

In [115]:
list((1,23,4,'hi'))

[1, 23, 4, 'hi']

In [116]:
list({'key':'value','hi':'hello','bye':'chalo'})

['key', 'hi', 'bye']

In [117]:

list({'key':'value','hi':'hello','bye':'chalo'}.items())

[('key', 'value'), ('hi', 'hello'), ('bye', 'chalo')]

In [118]:
d = {'key':'value','hi':'hello','bye':'chalo'}
list(d.items())

[('key', 'value'), ('hi', 'hello'), ('bye', 'chalo')]

In [119]:
list({1,23,4,})

[1, 4, 23]

In [120]:
set('python')

{'h', 'n', 'o', 'p', 't', 'y'}

In [122]:
set({1:2}.items())

{(1, 2)}

In [123]:
frozenset('pyathoafl;kdsf;aslk;fjkdslflksfjldsjfljsfajlfsj')

frozenset({';', 'a', 'd', 'f', 'h', 'j', 'k', 'l', 'o', 'p', 's', 't', 'y'})

In [124]:
dict( [ 'ab','cd','ef','gh',('name','sachin'),('country','india')]  )

{'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h', 'name': 'sachin', 'country': 'india'}

In [ ]:
#operators