In [2]:
#lambda --> anonymous function............inline function
def add(x,y):
    return x + y
add(4,4)

8

In [3]:
#statement
#func_name = lambda arg1,arg2.. : return value
add_lambda = lambda x,y : x + y  
add_lambda(4,4)

8

In [4]:
def squre(x):
    return x*x
squre(5)

25

In [5]:
sq = lambda x : x*x
sq(5)

25

In [8]:
def even_odd(num) : 
    if num % 2 == 0 : 
        return "EVEN"
    else : 
        return "ODD"
even_odd(5)

'ODD'

In [14]:
odd_eve = lambda num : "EVEN" if num % 2 == 0 else "ODD" 
odd_eve(9)

'ODD'

In [10]:
print("Hello world ") if False else print("bye Word")

bye Word

In [15]:
def sq(mylist):
    return [ var*var for var in mylist ]
sq([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [16]:
sq = lambda mylist : [ var*var for var in mylist ]
sq([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [21]:
from math import sqrt 
def mysq(val,num):
    num = sqrt(num)
    return num+val
mysq(3,121)

sq = lambda val,num : sqrt(num)+val
sq(8,144)

s = lambda s : s.strip().lower()
name = input("Enter your name ")
name = s(name)
name

Enter your name          HeLLo WoRlD

'hello world'

In [23]:
def great(x,y,z):
    if x >= y and x >= z : 
        return x
    elif y >= x and y >= z : 
        return y 
    else : 
        return z
greatest = lambda x,y,z :  #code to return highest among x, y and z 
greatest(1,3,2)

3

In [26]:
print("Hello world") if False else print("bye") if False else "hi"

'hi'

In [28]:
great = lambda x,y,z : x if x >= y and x >= z else y if y >= x and y >= z else z  
great(10,25,20)

25

In [29]:
mylist1 = [ '10','35','15','7','9','23']

In [32]:
def convert(data):
    result = []
    for item in data : 
        item = int(item)
        result.append(item)
    return result

print(mylist1)
mylist = convert(mylist1)
print(mylist)

['10', '35', '15', '7', '9', '23']
[10, 35, 15, 7, 9, 23]

In [33]:
def convert(data):
    return [ int(item) for item in data ]

print(mylist1)
mylist = convert(mylist1)
print(mylist)

['10', '35', '15', '7', '9', '23']
[10, 35, 15, 7, 9, 23]

In [35]:
con = lambda mylist : [ int(item) for item in mylist ]

In [36]:
con(mylist1)

[10, 35, 15, 7, 9, 23]

In [39]:
l = [ 1,2,3,4,5,7,8,9]
r = []
for var in l :
    r.append(var**2)
print(r)

[1, 4, 9, 16, 25, 49, 64, 81]

In [40]:
#wap to take 5 integer number input
number = []
for var in range(1,6) : 
    num = int(input(f"Number[{var}] : "))
    number.append(num)

Number[1] : 5
Number[2] : 6
Number[3] : 7
Number[4] : 8
Number[5] : 9

In [41]:
number

[5, 6, 7, 8, 9]

In [47]:
number = input("Enter number by comma(,) seprated : ")

Enter number by comma(,) seprated : 1,2,3,4,5,6,7

In [48]:
number

'1,2,3,4,5,6,7'

In [49]:
num = number.split(',')

In [50]:
num

['1', '2', '3', '4', '5', '6', '7']

In [51]:
f = lambda num : [ int(n) for n in num ]
x = f(num)
x

[1, 2, 3, 4, 5, 6, 7]

In [52]:
#map --> map object
#map(function,sequene)
x = [ 1,2,3,4,5,6,7,8,9]
y = [ 9,8,7,6,5,4,3,2,1]
def add_lists(x,y):
    r = []
    for item1,item2 in zip(x,y) : 
        r.append(item1+item2)
    return r
z = add_lists(x,y)
print(z)

[10, 10, 10, 10, 10, 10, 10, 10, 10]

In [53]:
#map --> map object
#map(function,sequene)
x = [ 1,2,3,4,5,6,7,8,9]
y = [ 9,8,7,6,5,4,3,2,1]
def add_lists(x,y):
    return [ a+b for a,b in zip(x,y)]
z = add_lists(x,y)
print(z)

[10, 10, 10, 10, 10, 10, 10, 10, 10]

In [66]:
def add(var1,var2) : 
    return var1 + var2

list1 = [ 10,20,30,40,50]
list2 = [ 67,56,45,34,22]
m  = map(add,list1,list2)
print(m)
#print(*m)

<map object at 0x000001A473DDDEF0>
77 76 75 74 72

In [67]:
m = list(m)
m

[]

In [57]:
x =list(map(int,input("Enter space separate integer").strip().split()))
x

Enter space separate integer1 2 3 4 5 6

[1, 2, 3, 4, 5, 6]

In [55]:
x

'1 2 3 4 5'

In [68]:
l1 = [ 1,2,3,4,5,6,7,8,9,10]
sq = list(map(lambda x:x**2,l1))
print(l1)
print(sq)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
#day number print  day name  0,7 --> sunday, 1-->monday
d ={ 0:'sunday',1:'monday',2:'tuesday',3:'wednesday',4:'thursday',5:'friday',
   6:'saturday',7:'sunday'}

day_num = int(input("Enter day number : "))
print(d.get(day_num,"Invalid Day Number"))

Enter day number : 6
saturday

In [76]:
#[ 23,14,1,2,3,4,5,6,7]
#[Fasle,True,False,True,False,True,False,True,False]

numbers = list(map(int,input().split()))
result  = list(map(lambda x:True if x % 2 == 0 else False,numbers))
#print(numbers)
#print(result)
for var1,var2 in zip(numbers,result) : 
    if var2 : 
        print(var1)

1 2 3 4 5 6 7 8 9 10
2
4
6
8
10

In [78]:
#filter(function,seq)

number = list(map(int,input().split()))
result = list(filter(lambda x : True if x%2==0 else False,number))
print(number)
print(result)

1 2 3 4 5 6 7 8 9 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [81]:
from functools import reduce
#reduce

In [82]:
def add(*args):
    s = 0 
    for var in args : 
        s += var 
    return s

In [83]:
add(1,23,4,5,5,1,3,4,4,4)

54

In [85]:
items = [ 1,23,3,4,23,2,32,3,23,2,3,24,35,2,3,23,53,23]
reduce(lambda x,y:x + y, items)

282

In [87]:
x = [ 1,2,3,4,5,6]
y = [ 3,4,2,5,6,5]
#x^2+y^2
x_y = list(map(lambda x,y:x**2+y**2,x,y))
print(x_y)
r = reduce(lambda x,y:x+y,x_y)
print(r)

[10, 20, 13, 41, 61, 61]
206